@import "./settings";
@import "./fontsAndColors";
@import "./responsive";
@import "./components/mainComp";
@import "./components/ratings";
@import "./components/description";
@import "./components/mainHeader";
/*
colors: $darkBlue, $lightBlue, $green
fonts: $sans-serif, $serif
*/

.mainWrapper {
    max-width: 1400px;
    margin: 0 auto;
}
