// $darkBlue: #261870;
// $lightBlue: #5da9c2;
// $green: #ace8cd;

// $sans-serif: "Montserrat", sans-serif;
// $serif: "Maitree", serif;

.descriptionWrapper {
  width: 90%;
  margin: 2rem auto;
  font-family: $serif;
  line-height: 28px;

  div {
    margin: 20px 0;
  }

  h3 {
    text-align: center;

    margin-top: 1.5rem;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
  }

  h4 {
    text-align: center;
    font-size: 2rem;
  }

  h2 {


    font-family: $sans-serif;

    text-align: center;
    color: $darkBlue;
    font-size: 2rem;
    margin: 5px;
    width: 100%;

    @include responsiveMedia(iPad) {
      font-size: 2.5rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
      line-height: 50px;
    }

    @include responsiveMedia(laptop) {
      padding-bottom: 3rem;
    }
  }

  p {
    padding: 5px 15px;
    font-size: 1.1rem;
    font-family: sans-serif;

    @include responsiveMedia(iPad) {
      font-size: 1.25rem;
    }

    @include responsiveMedia(laptop) {
      font-size: 1.5rem;
      line-height: 125%;
    }
  }
  @include responsiveMedia(iPad) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .bookWrapper,
    .movieWrapper {
      width: 48%;
    }
  }
}
