// $darkBlue: #261870;
// $lightBlue: #5da9c2;
// $green: #ace8cd;

// $sans-serif: "Montserrat", sans-serif;
// $serif: "Maitree", serif;

.descriptionWrapper {
  width: 90%;
  margin: 0 auto;
  font-family: $serif;
  line-height: 28px;

  div {
    // border: 1px solid red;
    margin: 20px 0;
  }

  h2 {
    // border: 1px solid blue;
    text-align: center;
    color: $darkBlue;
    font-size: 2rem;
    margin: 5px;

    @include responsiveMedia(iPad) {
      font-size: 2.5rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
      line-height: 50px;
    }

    @include responsiveMedia(laptop) {
      padding-bottom: 3rem;
    }
  }

  p {
    padding: 5px 15px;
    font-size: 1.1rem;

    @include responsiveMedia(iPad) {
      font-size: 1.25rem;
    }

    @include responsiveMedia(laptop) {
      font-size: 1.5rem;
      line-height: 125%;
    }
  }
    @include responsiveMedia (iPad) {
  
          display: flex;
          justify-content: space-between;
          .bookWrapper, .movieWrapper {
            width: 48%;
          
          }
        }
}








